:root {
  --line-color: rgba(240, 198, 77, 255);
  --background-color: rgba(228, 165, 2, 255);
  --letter-color: rgba(255, 255, 193, 255);
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: default;
}

.cont-main {
  height: 94%;
  width: 55%;
  background-color: rgba(223, 250, 254, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-princ {
  height: 65%;
  width: 88%;
  border-radius: 10px;
  box-shadow: 30px 50px 40px rgba(181, 203, 207, 255);
  font-family: "Varela Round", sans-serif;
  background: var(--background-color);
  color: var(--letter-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cont-menu {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  width: 60%;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cont-menu div:first-of-type {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: 70%;
  background-color: var(--letter-color);
  border-radius: 50px;
}

input {
  width: 70%;
  height: 80%;
  background: transparent;
  border: 1px solid transparent;
  font-size: 13px;
  color: var(--background-color);
  outline: none;
  margin-left: 5px;
  font-weight: 600;
}

input::placeholder{
  color: var(--background-color);
  opacity: 0.5;
  font-weight: 100;
}

button {
  width: 12%;
  border: 1px solid transparent;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--background-color);
  font-size: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

i {
  font-size: 15px;
  color: var(--background-color);
}

.imgs {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.img-div {
  width: 17%;
  height: 46%;
  margin: 1%;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-div:hover {
  width: 20%;
  height: 50%;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .cont-main {
    width: 70%;
  }
}

@media screen and (max-width: 975px) {
  .cont-main {
    width: 85%;
  }
}

@media screen and (max-width: 805px) {
  .cont-main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  input {
    height: 60%;
  }
}

@media screen and (max-width: 685px) {
  html {
    height: 100%;
  }

  .cont-princ {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .title{
    width: 40%;
    font-size: 18px;
  }

  .cont-menu div:first-of-type {
    width: 50%;
  }

  input{
    font-size: 15px;
  }

  .img-div {
    width: 30%;
    height: 23%;
    margin: 1%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-div:hover{
    width: 31%;
    height: 25%;
  }
}
